@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject IAuthenticationService AuthenticationService
@using BusExpress.Client.Pages.Auth

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <LoginLogoutButton />
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>