@inherits LayoutComponentBase
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager

@if (AuthenticationService.User == null)
{
    <button @onclick="Login" class="btn btn-primary">Login</button>
    <button @onclick="Register" class="btn btn-primary">Register</button>
}
else
{
    <button @onclick="Logout" class="btn btn-danger">Logout</button>
}

@code {
    void Login()
    {
        NavigationManager.NavigateTo("login");
    }

    void Register()
    {
        NavigationManager.NavigateTo("register");
    }

    void Logout()
    {
        NavigationManager.NavigateTo("Logout");
    }
}
